.container {
    font-family: 'Raleway', sans-serif;
}

.header 
    h1 {
    font-size: 25px;
    text-align: center;
    color:dodgerblue;
    }
    h3 { 
        text-align: center;
    }

.notes
    p {
    text-align: justify;
    padding: 2.5%;
    }
    img {
    border-radius: 50%;
    float: right;
    margin-left: 2.5%;
    margin-right: 5%;
    }
